body {
    background: url("greyandwhiteblob.svg") no-repeat; 
    background-color: #ffffff;
    background-size: 400px; /* changes size of the star */
    background-position: center; /* changes position of the star */
    cursor: crosshair;
    font-family: Arial, Helvetica, sans-serif;
    height: 150vh;
    display: grid;
    overflow: hidden;
}

* { /* universal page settings */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@media only screen and (max-width: 600px) {
    body {
      background-image: none;
      height: 100vh;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .ContentArea {
        display: flex !important;
        flex-direction: column !important;
        margin: 0px;
        gap: 20px;
    }

    .VerticalScroll1 {
        display: flex; 
        flex-direction: column;
        justify-content: center; 
        align-items: center;
    }

    .vertical-scroll-container1 {
            width: 100%; /* set width */
            max-width: 400px;
            height: 200px; /* set height */
            overflow-y: auto; /* enable vertical scrolling */
            overflow-x: hidden; /* prevent horizontal scrolling */
            scroll-behavior: smooth; /* smooth scrolling */
            border: none; /* optional: Add a border */
            padding: 3px; /* optional: add padding inside the div */
          }

} /* end @media */

.container {  
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 2.3fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;    
    height: 100vh;
}
  
    .Header { 
        grid-area: 1 / 1 / 2 / 4; 
        background-color: transparent;
        border: none;
    }
  
        nav { /*navigation links in header*/
            font-weight: bold;
            color: #000000;
        }

        .nav:hover {
            background-color: #000000; 
        }

        #cvButton:hover {
            background-color: #000000;
            cursor: crosshair;
        }

        #home-button:hover {
            background-color: #000000;
            cursor: crosshair;
        }
        
        #home-button {
            border: none;
            background-color: transparent;
            color: #000000;
            font-weight: bold;
            cursor: crosshair;
        }

        .myName {
            text-align: center; /* align text horizontally */

        }


    .Main {  
        background-color: transparent;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.6fr 0.3fr 2.1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "Intro Intro Intro"
        "ScrollingText ScrollingText ScrollingText"
        "ContentArea ContentArea ContentArea";
        grid-area: 2 / 1 / 3 / 4;
    }
  
    .Intro { 
        grid-area: Intro; 
        text-align: center; /* align text horizontally */
        background-color: rgba(0, 0, 0, 0.5);
        margin-bottom: 10px;
        margin-top: 10px;
    }
  
    .ScrollingText { 
        grid-area: ScrollingText; 
    }
        
        .scrolling {
            background-color: transparent;
            grid-area: section; /* define the grid area */
            width: 100%;
            overflow: hidden;
        }
            .scroll-content {
                background-color: transparent;
                display: inline-flex;
                white-space: nowrap;
                animation: scroll 20s linear infinite;
            }

                
            @keyframes scroll {
                0% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(-100%);
                }
            }
    
  .ContentArea {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    grid-auto-flow: row;
    grid-area: ContentArea;
    background-color: transparent; 
    margin: 0px;
    padding: 20px;
  }
  
        .Row1 { grid-area: 1 / 1 / 2 / 4; }
        
        .Row2 { grid-area: 2 / 1 / 3 / 4; }
        
        .Row3 { grid-area: 3 / 1 / 4 / 4; }
        
        .Title1 { grid-area: 1 / 1 / 2 / 2; }
        
        .Description1 { grid-area: 1 / 2 / 2 / 3; }
        
        .VerticalScroll1 { grid-area: 1 / 3 / 2 / 4; 
            display: flex;
            flex-direction: row;
            justify-content: center; 
            align-items: center;
        }

            .vertical-scroll-container1 {
                width: 400px; /* set width */
                height: 200px; /* set height */
                overflow-y: auto; /* enable vertical scrolling */
                overflow-x: hidden; /* prevent horizontal scrolling */
                scroll-behavior: smooth; /* smooth scrolling */
                border: none; /* optional: Add a border */
                padding: 3px; /* optional: add padding inside the div */
            }
            
            .vertical-scroll-container1 img {
                display: block; /* ensure images stack vertically */
                width: 100%; /* make images responsive */
                margin-bottom: 5px; /* optional: add spacing between images */
            }
        
        .Title2 { grid-area: 2 / 1 / 3 / 2; }
        
        .Description2 { grid-area: 2 / 2 / 3 / 3; }
        
        .VerticalScroll2 { grid-area: 2 / 3 / 3 / 4; 
            display: flex;
            flex-direction: column;
            justify-content: center; 
            align-items: center;
        }

            .vertical-scroll-container2 {
                width: 400px; /* set width */
                height: 200px; /* set height */
                overflow-y: auto; /* enable vertical scrolling */
                overflow-x: hidden; /* prevent horizontal scrolling */
                scroll-behavior: smooth; /* smooth scrolling */
                border: none; /* optional: Add a border */
                padding: 3px; /* optional: add padding inside the div */
            }
            
            .vertical-scroll-container2 img {
                display: block; /* ensure images stack vertically */
                width: 100%; /* make images responsive */
                margin-bottom: 5px; /* optional: add spacing between images */
            }
        
        .Title3 { grid-area: 3 / 1 / 4 / 2; }
        
        .Description3 { grid-area: 3 / 2 / 4 / 3; }
        
        .VerticalScroll3 { grid-area: 3 / 3 / 4 / 4; }
  
  .Footer { 
    grid-area: 3 / 1 / 4 / 4;
    font-size: 0.9em;
    align-content: end; /* puts everything at the bottom vertically in footer */   
    background-color: transparent; 
    }
  
        .SocialIcons { 
            grid-area: 3 / 3 / 4 / 4;
            text-align: center;
        }

            .icon:hover {
                background-color: #000000;
                border-radius: 50%;
            }

        .NameCirca { 
            grid-area: 3 / 1 / 4 / 2;
            text-align: center;
        }
            
            author {
                font-family: Arial, Helvetica, sans-serif ; /* Helvetica is global, change if want it to be different */
            }

    




/*---------------------------------------------------------------------*/


a { /*general all links */
    color: #000000;
    text-decoration: none;
    cursor: crosshair;
}

h3 { 
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h2 { 
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    font-style: bold;
    text-decoration: line-through;
    font-family: Arial, Helvetica, sans-serif;
}

p { /*general all paragraphs */
    font-family: Arial, Helvetica, sans-serif;
}

b {
    color: #696066;
}

#projects {
    padding-left: 20px;
}

/*----------------------------------------------------------------------------*/

/* style the scrollbar itself */
::-webkit-scrollbar {
    width: 12px; /* width of the vertical scrollbar */
    height: 12px; /* height of the horizontal scrollbar */
  }
  
  /* style the scrollbar track (the area the scrollbar slides within) */
  ::-webkit-scrollbar-track {
    background-color: #e5dce4; /* light grey background for the track */
    border-radius: 0px; /* rounded corners for the track add px */
  }
  
  /* style the draggable part of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: #8a8889; /* color of the draggable thumb */
    border-radius: 0px; /* rounded corners for the thumb put 10px*/
  }
  
  /* optional: Style the thumb when hovered */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #000000; /* darker shade on hover */
  }


  /* to make the titles for the project area go vertical text */
  .vertical-text {
    display: flex;
    flex-direction: column; /* Stack letters vertically */
    align-items: center;
  }
  
  .vertical-text span {
    display: inline-block;
    transform: rotate(-90deg); /* Adjust angle as needed */
  }
